.vigenere-inp {
    padding: 5px;
    background: #fff;
    margin-right: 5px;
    border: 2px solid black;
}

.vigenere-inp:disabled {
    background: #ccc;
}

.enc-dec {
    margin: 5px 0;
    display: block;
    width: 300px;
    height: 200px;
}